#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath \
                             --enable-static-chained-pool \
                             --disable-magic-debug \
							 --disable-safety-checks \
							 --disable-assert \
							 --with-internal-maximum-log-level=3 \
							 --enable-amalgamation \
							 --disable-doc \
							 --enable-chained-pool=static \
							 --disable-ememoa-fixed \
							 --disable-emema-unknown \
							 --disable-fixed-bitmap \
							 --disable-pass-through \
							 --host=$(DEB_HOST_GNU_TYPE)
DEB_CONFIGURE_SCRIPT := ./autogen.sh
DEB_MAKE_CLEAN_TARGET := distclean
DEB_DH_STRIP_ARGS := --dbg-package=libeina-dbg
CFLAGS += -fvisibility=hidden
LDFLAGS += -fvisibility=hidden

clean::
	[ ! -f Makefile ] || make distclean
