#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

#
# --enable-magic-debug: "our RTTI". Useful to spot errors, so keep it.
#
# --enable-safety-checks: beside other things this switch disables EINA_NONNULL
# macros which are generously scattered all around EFL headers. EINA_NONNULL is
# dangerous as it makes compiler omit any branches which test arguments for NULL
# and hence any NULL passed makes a runtime error. Unfortunately even Ecore,
# Edje and Eina themselves pass NULL to args marked as nonnull.
#
DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath \
                             --enable-magic-debug \
							 --enable-safety-checks \
							 --disable-assert \
							 --with-internal-maximum-log-level=3 \
							 --enable-amalgamation \
							 --disable-doc \
							 --enable-chained-pool=static \
							 --disable-ememoa-fixed \
							 --disable-ememoa-unknown \
							 --disable-fixed-bitmap \
							 --disable-pass-through \
							 --host=$(DEB_HOST_GNU_TYPE)
DEB_CONFIGURE_SCRIPT := ./autogen.sh
DEB_MAKE_CLEAN_TARGET := distclean
DEB_DH_STRIP_ARGS := --dbg-package=libeina-dbg
CFLAGS += -fvisibility=hidden
LDFLAGS += -fvisibility=hidden

clean::
	[ ! -f Makefile ] || make distclean
	[ ! -f debian/control.orig ] || mv -f debian/control.orig debian/control

binary-install/libeina-dev::
	[ -f debian/control.orig ] || cp debian/control debian/control.orig
ifeq (,$(findstring target,$(DEB_BUILD_OPTIONS)))
	sed -ie 's,Section: .*,Section: host/tools,g' $(CURDIR)/debian/control
else
	sed -ie 's,Section: host/tools,Section: core,g' $(CURDIR)/debian/control
endif
